.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 160px 160px 160px 160px;
    border: 3px solid rgb(69, 98, 159);
    box-shadow: 0 0 7px #666;
}
.selectedPage {
    font-weight: bold
}
.p:hover {
    cursor: pointer
}