.header {
  grid-area: h;
  background-color: #3B5998;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  }  
.header img {
  width: 45px;
  margin: 4px;
}
.logoName {
  color: white;
  font-family: inherit;
  padding-left: 50px;
}
.loginBlock {
  justify-content: flex-end;
  padding-right: 10px;
}
.loginBlock a {
  color: white;
}
